
*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(239, 231, 219);
}
#calendar{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50%);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    padding: 30px;
    background: #d2b38d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100 ;
    box-shadow: 3px 2px 2px#b5a89c;
}
.navbar h2{
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    top: 30px;
    left: 8px;
    color: #513d3d;
}
.navbar ul li{
    padding: 15px;
    border-bottom: 1px solid #d2b38d;
    border-top: 1px solid #d7b891;
}
.navbar ul li a{
    font-size: 18px;
    color: #3c3128;
    font-weight: 500;
    text-decoration: none;
    display: block;
    left: 3px;
}
.navbar ul li a .bx{
    width: 25px;
}
.navbar ul li:hover{
    background: #debe98;
}
.navbar ul li:hover a{
    color: #2e271e;
}
.orange-coral{
    -webkit-box-shadow:0 10px 50px -20px rgba(171, 134, 86, 0.65);
    box-shadow:0 10px 50px -20px rgba(170, 107, 76, 0.65);
    border:2px solid #997a6a;
    }
    .orange-coral .calendar-sidebar{
        background:#d6bca1;
        background:-o-linear-gradient(left,#a28b6e,#cec0a7);
        background:-webkit-gradient(linear,left top,right top,from(#a68e6f),to(#cec0a7));
        background:linear-gradient(to right,#ad9374,#cec0a7);
        -webkit-box-shadow:5px 0 18px -3px rgb(129, 117, 112);
        box-shadow:5px 0 18px -3px rgb(129, 117, 112);
    }
    .orange-coral.sidebar-hide .calendar-sidebar{
        -webkit-box-shadow:none;
        box-shadow:none;
    }
    .orange-coral .calendar-sidebar>.month-list::-webkit-scrollbar-thumb:hover{
        background:#937d62;
    }
    .orange-coral .calendar-sidebar>.month-list>.calendar-months>li:hover{
        background-color:#937d62;
    }
    .orange-coral .calendar-sidebar>.month-list>.calendar-months>li.active-month{
        background-color:#937d62;
    }
    .orange-coral .calendar-sidebar>span#sidebarToggler,.orange-coral #eventListToggler{
        background-color:#689156;
        -webkit-box-shadow:0 0 18px -3px #587d49;
        box-shadow:0 0 18px -3px #587d49;
    }
    .orange-coral th[colspan="7"]{
        position:relative;
        font-size:30px;
        color:#689156;
    }
    .orange-coral th[colspan="7"]::after{
        content:'';
        display:block;
        width:92%;
        height:1px;
        margin:0 auto;
        background:#689156;
    }
    .orange-coral tr.calendar-body .calendar-day .day:hover{
        background-color:rgba(255,153,102,.32);
        color:#689156;
    }
    .orange-coral tr.calendar-body .calendar-day .day.calendar-today{
        background:#689156;
        background:-o-linear-gradient(left,#a28b6e,#cec0a7);
        background:-webkit-gradient(linear,left top,right top,from(#a28b6e),to(#cec0a7));
        background:linear-gradient(to right,#a28b6e,#cec0a7);
    }
    .orange-coral tr.calendar-body .calendar-day .day.calendar-active,.orange-coral tr.calendar-body .calendar-day .day.calendar-active:hover{
        border-color:#eedec1;
    }
    .orange-coral tr.calendar-body .calendar-day .day.calendar-today:hover{
        color:#eedec1;
    }
    .orange-coral .calendar-events{
        background-color:#eedec1;
    }
    .orange-coral .calendar-events::-webkit-scrollbar-thumb{
        background:#689156;
        border-radius:5px
    }
    .orange-coral .calendar-events::-webkit-scrollbar-thumb:hover{
        background:#689156;
    }
    .orange-coral .event-container>.event-icon>div.event-bullet-event,.orange-coral .event-indicator>.type-bullet>div.type-event{
        background-color:#689156;
    }
    .orange-coral .event-list>.event-empty{
        background-color:rgba(255,150,101,.15);
        border:1px solid #997a6a;
    }
    .orange-coral .event-list>.event-empty>p{
        color:#6c564b;
    }
    .orange-coral .event-container>.event-info>p.event-title>span{
        color:#6c564b;
        background-color:rgba(255,150,101,.15);
        border:1px solid #6c564b;
    }
    @media only screen and (max-width:768px){
        .orange-coral .calendar-inner::after{
            background-color:rgba(160,131,119,.5)
        }
        .orange-coral .calendar-events{
            -webkit-box-shadow:-5px 0 18px -3px rgba(255,152,101,.5);
            box-shadow:-5px 0 18px -3px rgba(255,152,101,.5)
        }
        .orange-coral.event-hide .calendar-events{
            -webkit-box-shadow:none;
            box-shadow:none
        }
    }
    @media screen and (max-width:425px){
        .orange-coral .calendar-sidebar>.calendar-year{
            background:#6c564b;
            background:-o-linear-gradient(left,#a28b6e,#cec0a7);
            background:-webkit-gradient(linear,left top,right top,from(#a28b6e),to(#cec0a7))
            ;background:linear-gradient(to right,#a28b6e,#cec0a7);
            -webkit-box-shadow:0 5px 18px -3px rgba(152,91,61,.65);
            box-shadow:0 3px 8px -3px rgba(152,91,61,.65)
        }
        .orange-coral .calendar-sidebar>.month-list{
            background:-o-linear-gradient(left,#a28b6e,#cec0a7);
            background:-webkit-gradient(linear,left top,right top,from(#a28b6e),to(#cec0a7));
            background:linear-gradient(to right,#a28b6e,#cec0a7)
        }
    }