* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3eee8;
    color: #513d3d;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    padding: 30px;
    background: #d2b38d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100 ;
    box-shadow: 3px 2px 2px#b5a89c;
}

.navbar h2{
    font-size: 24px;
    position: absolute;
    font-weight: bold;
    top: 30px;
    left: 8px;
    color: #513d3d;
}
.navbar ul li{
    padding: 15px;
    border-bottom: 1px solid #d2b38d;
    border-top: 1px solid #d7b891;
}
.navbar ul li a{
    font-size: 18px;
    color: #3c3128;
    font-weight: 500;
    text-decoration: none;
    display: block;
    left: 3px;
}
.navbar ul li a .bx{
    width: 25px;
}
.navbar ul li:hover{
    background: #debe98;
}
.navbar ul li:hover a{
    color: #2e271e;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 110px;
    text-shadow: 2px 2px 4px #b5a89c;
} 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

form button {
    color: rgb(95, 75, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}

form button:hover {
    color: white;
    background: rgb(95, 75, 1);
}

.bxs-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: #4c3828;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: rgb(46, 109, 45);
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: #5f4733;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.bxs-trash, 
.bxs-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:#4c3828;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:rgb(61, 118, 59);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: rgb(61, 118, 59);
}